.c-form-text {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  padding: 17px 16px;
  margin-top: 0;
  color: $col-error;
  background-color: $bg-error;
  box-shadow: $shadow;
  border-radius: $border-radius;
  z-index: 150;

  &:before {
    @include size(15px);

    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    z-index: -1;
    background-color: $bg-error;
    border-top-left-radius: $border-radius;
    transform: translateY(-50%) rotate(45deg);
  }
}

.form-group__label--error {
  display: none;
}

.sign-up__form {
  @include media(">=medium") {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: start;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: -10px;
    margin-right: -10px;
  }

  @include media(">=xlarge") {
    grid-template-columns: 4fr 4fr 4fr;
  }

  .c-form-group {
    position: relative;
    @include media(">=medium") {
      margin-left: 10px;
      margin-right: 10px;
    }

    @include media(">=xlarge") {
      flex: 1 0 400px;
      max-width: 400px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.form-group--error {
  .c-form-group__label {
    color: $danger;
  }

  .c-form-control {
    border-color: $danger;
  }

  .form-group__label--password {
    display: none;
  }

  .form-group__label--error {
    display: block;
  }
}

.form-group-wrap {
  @include media(">=xlarge") {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.form-group-wrap-2 {
  @include media(">=xlarge") {
    grid-column: 2;
    grid-row: 1;
  }
}

.form-group-wrap-3 {
  @include media(">=medium") {
    grid-column: 2;
    grid-row: 1;
  }
  @include media(">=xlarge") {
    grid-column: 2;
    grid-row: 1;
    transform: translateY(100%);
  }
}

.form-group-wrap-4 {
  @include media(">=medium") {
    transform: translateY(-107px);
  }
  @include media(">=xlarge") {
    grid-row: 1;
    grid-column: 3;
    transform: translateY(0);
  }
}

.sign-up__form-text {
  font-size: $font-size-small;
  margin-left: 12px;

  @include media(">=xlarge") {
    font-size: $font-size-additional;
  }
}

.form-group-accept {
  margin-bottom: 60px;

  @include media(">=medium") {
    margin-bottom: 80px;
  }

  @include media(">=xlarge") {
    margin-bottom: 103px;
  }
}
