@import "dropdown-profile";

.intro__inner-profile {
  @include media(">=medium") {
    max-width: 953px;
  }
}

.link-edit__text {
  display: none;
  @include media(">=medium") {
    display: inline-flex;
    margin-left: 15px;
    font-size: $font-size-medium;
  }
  @include media(">=xlarge") {
    font-size: $base-font-size;
  }
}

.tabs-list__description-text {
  margin-bottom: 10px;
  @include media(">medium") {
    margin-bottom: 20px;
  }
}


.tabs-list {
  .btn-additional {
    .icon {
      margin-right: 10px;
    }
  }
}

.tabs-list__additional-block {
  display: none;
}


.tabs-list__description--active {
  .btn-additional {
    display: none;
  }
  .tabs-list__additional-block {
    display: block;
  }
}

.add-facility__form {

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: -10px;
    margin-right: -10px;
  }

  .c-form-group {
    position: relative;
    @include media(">=medium") {
      margin-left: 10px;
      margin-right: 10px;
    }

    @include media(">=xlarge") {
      flex: 1 0 400px;
      max-width: 400px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}