// prefix c it's mean custom

.c-btn {
  display: inline-block;
  min-width: 200px;
  min-height: 60px;
  padding: map_get($btn-padding-y, "xs") 20px;
  font-size: $font-size-medium;
  background-color: transparent;
  text-align: center; // for tag - a
  border: 2px solid transparent;
  border-radius: $border-radius;

  @include multi-transition($animation-speed, color, background-color, border-color);

  @include media(">=xlarge") {
    padding: map_get($btn-padding-y, "md") $btn-padding-x;
    font-size: $base-font-size;
  }

  &:focus {
    color: $white;
    background-color: $btn-hover-color;
    border-color: $btn-hover-color;
  }
}

//.btn[disabled^="disabled"] {
//  font-weight: 800;
//  color: $disable-txt;
//  background-color: $btn-disabled-bg;
//  box-shadow: none;
//  pointer-events: none;
//  border-color: transparent;
//}

.c-btn.c-btn--disabled-gray,
.c-btn.c-btn--disabled {
  font-weight: 800;
  color: $disable-txt;
  background-color: $btn-disabled-bg;
  box-shadow: none;
  pointer-events: none;
}

.c-btn.c-btn--disabled-gray {
  background-color: $secondary-light;
  color: $white;
}

.c-btn--small {
  min-width: 180px;
}

.form-group--danger {
  .c-form-group__label {
    color: $danger;
  }
  .c-form-control {
    border-color: $danger;
  }
}

.c-btn-additional {
  min-width: auto;
  min-height: auto;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color: $primary;

  &:focus {
    color: $btn-hover-color;
    background-color: transparent;
    border-color: transparent;
  }

}

@each $btn-class, $color in $colors {
  .c-btn-#{$btn-class} {
    font-weight: 800;
    color: $white;
    background-color: $color;
    box-shadow: $btn-shadow;

    &:hover {
      color: $white;
    }
  }

  .c-btn-outline-#{$btn-class} {
    font-weight: bold;
    color: $primary;
    border: $btn-border-width solid $primary;

    &:hover {
      color: $white;
      border-color: transparent;
      background-color: $primary;
    }
  }
}

.c-btn-menu-wrap {
  float: right;
}

.c-btn-menu-trigger {
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: #F2F9FB;
  }
}

.c-btn-menu--position {
  position: relative;
  bottom: 30px;
}

.c-btn-add-child{
  border: 1px solid #00accd;
   min-width: 100%;

   @media screen and (min-width: 500px) {
   min-width: 400px;
   }
}

.c-btn-bordder-light {
  border: 1px solid #F2F9FB;
}

.modal-btn:hover {
  background-color: #F2F9FB;
}
