// prefix c it's mean custom

.c-form-group {
  margin-bottom: $input-holder-margin / 2; // 10px
}

.c-form-group--width {
  @include media(">=medium") {
    width: 343px;
  }

  @include media(">=xlarge") {
    width: 400px;
  }
}

.c-form-control {
  display: block;
  width: 100%;
  height: $input-height;
  padding-left: $input-indent-x;
  padding-right: $input-indent-x;
  margin-bottom: $input-holder-margin / 2; // 10px

  font-size: $font-size-medium;
  color: $black;
  background-color: $white;
  border: $default-border;
  border-radius: $border-radius;
  appearance: none;

  @include media(">=xlarge") {
    font-size: $base-font-size;
  }

  &::placeholder {
    font-size: $font-size-medium;
    color: $col-placeholder;
    @include media(">=medium") {
      font-size: $base-font-size;
    }
  }

  &.datepicker-dropdown{
    width: auto;
    height: auto;
    z-index: 1001 !important;

    td{
      padding: 0.4rem;
    }
  }
}



.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active, 
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active:active {
  background-color: #00accd;
  box-shadow: 0 0.1rem 0.8rem 0.1rem rgba(0,0,0,.24);

  &:hover{
  background-color: #048099;
  }

  &:active {
    transition-property: background-color;
    transition-duration: 3s;
  }
}

.datepicker table tr td, .datepicker table tr th {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &.datepicker-switch{
    border-radius: inherit;
  }
}

.c-form-control--disabled{
  background-color: #e7ecee;
  border: #9EB3B9;
  color: #728187;
}


.c-form-group__label {
  margin-bottom: $input-holder-margin / 2; // 10px
  font-size: $font-size-medium;
  color: $secondary;
  font-weight: 600;

  @include media(">=xlarge") {
    font-size: $base-font-size;
  }
}

.form-text {
  font-size: $font-size-small;

  @include media(">=medium") {
    font-size: $font-size-additional;
  }
}

.form-subtext {
  font-size: $font-size-small;
  color: $secondary;
  @include media(">=xlarge") {
    font-size: $font-size-additional;
  }
}

.input-holder {
  position: relative;
  .c-form-control {
    padding-right: 56px;
  }
}

.btn-show-password {
  position: absolute;
  top: 50%;
  right: 18px;
  cursor: pointer;
  transform: translateY(-50%);


  &:after {
    //content: $icon-show;
    //font-family: $icomoon-font-family;
    font-size: 22px;
  }
}
