/* media breakpoint mixin */
//@mixin media-breakpoint-up($name) {
//  @if map_has_key($breakpoint, $name) {
//    @media (min-width: map_get($breakpoint, $name)) {
//      @content;
//    }
//  } @else {
//    @media (min-width: $name) {
//      @content;
//    }
//  }
//}

@mixin v-align($va-height: 100%, $va-direction: middle, $va-pseudo: after) {
  white-space: nowrap;
  text-align: center;

  &:#{$va-pseudo} {
    content: '';
    display: inline-block;
    vertical-align: $va-direction;
    width: 0;
    min-height: $va-height;
  }

  > * {
    white-space: normal;
    display: inline-block;
    vertical-align: $va-direction;
    max-width: 99%;
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

/* Single property transition mixin */
$animation-speed: .3s;

@mixin multi-transition($transition, $properties-list...) {
  transition-duration: $transition;
  //transition-timing-function: ease-in-out;
  transition-property: $properties-list;
}


